.navbarIframe {
    width:100%;
    position:fixed;
    z-index:100;
    top:0px;
    height:65px;
}

.indexHDiv {
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .horizontal-center {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  html,body {
      height:100%;
      width: 100%;
    
  }

  html {
    overflow-x: hidden;
  }

  .scrollDownBtn {
      position: absolute;
      bottom:20px;
      left: 50%;
      -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: transparent;
    border:none;
    height:100px;
    filter:brightness(100);
  }

  .nolink {
      text-decoration: none;
      color: black;
  }

  .bordered {
    filter: drop-shadow(2px 2px 0 black) 
          drop-shadow(-2px -2px 0 black);
    -webkit-filter: drop-shadow(2px 2px 0 black)
                  drop-shadow(-2px -2px 0 black);
  }


  .non-drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@font-face {
  font-family: beantown;
  src: url(media/BEANTOWN.TTF);
}