.navbarIframe {
    width:100%;
    position:fixed;
    z-index:100;
    top:0px;
    height:56px;
}

.indexHDiv {
    position: relative;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .horizontal-center {
    position: relative;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  html,body {
      height:100%;
  }

  .scrollDownBtn {
      position: absolute;
      bottom:20px;
      left: 50%;
      -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: transparent;
    border:none;
    height:100px;
    filter:brightness(100);
  }

  .nolink {
      text-decoration: none;
      color: black;
  }

  .bordered {
    filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 black);
    -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  }